VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZGVzdGluZWQta2l3aS03OS5jbGVyay5hY2NvdW50cy5kZXYk
VITE_CLERK_SECRET_KEY=sk_test_MdBIw2Gzaj5M91IbLJhmy1hCvz9S0O5zGUk77R91Gd

CLERK_PUBLISHABLE_KEY=pk_test_ZGVzdGluZWQta2l3aS03OS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_MdBIw2Gzaj5M91IbLJhmy1hCvz9S0O5zGUk77R91Gd

# # Database URL for PostgreSQL
# DATABASE_URL="postgresql://neondb_owner:npg_Se5WtXGEiuN7@ep-purple-credit-altdsd6s-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"DATABASE_URL=postgresql://neondb_owner:npg_L1MxwTRpOKu5@ep-bitter-fog-aj265rw6-pooler.c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_DIRECT=postgresql://neondb_owner:npg_Se5WtXGEiuN7@ep-purple-credit-altdsd6s-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Claimable DB expires at: Mon, 25 May 2026 10:52:49 GMT
# Claim it now to your account using the link below:
VITE_POSTGRES_CLAIM_URL=https://neon.new/database/025eba7b-f117-4adb-b9ed-011c517306dc
DATABASE_URL=postgresql://neondb_owner:npg_XOsNaU0gkFl5@ep-dawn-heart-ajl0k9ui-pooler.c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_DIRECT=postgresql://neondb_owner:npg_XOsNaU0gkFl5@ep-dawn-heart-ajl0k9ui.c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
# Claimable DB expires at: Mon, 25 May 2026 11:07:23 GMT
# Claim it now to your account using the link below:
VITE_POSTGRES_CLAIM_URL=https://neon.new/database/8848a143-786d-4854-abe7-1cae581b12b7
